/*
0-600px;    Phone
600-900px;  Tablet portrait
900-1200px; Tablet landscape
1800px +;   Big desktop

/*
Breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base -> typography -> general layout(header, footer..) -> grid -> page layout -> components
*/
@keyframes growHeightWidth30 {
  0% {
    width: 1vw;
    height: 1vh; }
  50% {
    width: 1vw;
    height: 100vh; }
  100% {
    width: 30vw;
    height: 100vh; } }

@keyframes growHeightWidth70 {
  0% {
    width: 1vw;
    height: 1vh; }
  50% {
    width: 1vw;
    height: 100vh; }
  100% {
    width: 70vw;
    height: 100vh; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #efdc05;
  color: #090707; }

body {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #090707; }

.heading-primary {
  color: #efdc05;
  font-size: 5rem;
  font-weight: 900;
  padding-bottom: 2.5rem; }

.heading-secondary {
  font-size: 7rem;
  font-weight: 900; }
  @media only screen and (max-width: 75em) {
    .heading-secondary {
      font-size: 6rem; } }
  @media only screen and (max-width: 43.75em) {
    .heading-secondary {
      font-size: 5rem; } }
  .heading-secondary--gradient {
    background-image: linear-gradient(to left top, #fbec3d, #efdc05);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }

.heading-tertiary {
  font-size: 2.5rem; }
  .heading-tertiary--gradient {
    background-image: linear-gradient(to right, #e53a40, #ef8589);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }

.paragraph {
  color: #ffffff;
  opacity: .8;
  font-size: 1.9rem;
  margin-bottom: .5rem; }

.u-mb-small {
  margin-bottom: 2rem !important; }

.u-mb-medium {
  margin-bottom: 4rem !important; }

.u-text-center {
  text-align: center !important; }

.u-text-dark {
  color: #555 !important; }

.u-span-full-grid {
  grid-column: 1 / -1 !important; }

.u-span-2 {
  grid-column: span 2 !important; }

.u-span-3 {
  grid-column: span 3 !important; }

@media only screen and (max-width: 43.75em) {
  .u-phone-grid-item-top-pos {
    grid-row: 1 / 1 !important; } }

.u-justify-self-start {
  justify-self: start !important; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  border: none;
  cursor: pointer; }

.btn:active, .btn:focus {
  outline: none; }

.btn--primary {
  color: #ffffff;
  background-color: #e53a40;
  font-size: 1.7rem;
  font-weight: 400; }
  .btn--primary:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1.5rem 3rem rgba(9, 7, 7, 0.2); }
  .btn--primary:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba(9, 7, 7, 0.2); }

.btn--close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  padding: 0;
  background: none;
  color: #efdc05;
  font-size: 3rem; }

.contact-form {
  display: grid;
  grid-row-gap: 2rem;
  width: 70%; }
  .contact-form__label {
    font-size: 1.5rem;
    color: #ffffff; }
  .contact-form__input {
    font: inherit;
    font-size: 1.5rem;
    background-color: transparent;
    color: #ffffff;
    outline: none;
    border: none;
    border-bottom: 1px solid #efdc05;
    transition: border-bottom .4s; }
    .contact-form__input:focus {
      border-bottom: 1px solid #e53a40; }

.knowledge {
  display: grid;
  align-items: center;
  grid-row-gap: 1.5rem; }
  .knowledge__list {
    list-style: none;
    column-count: 2; }
    .knowledge__list--item {
      color: #ffffff;
      opacity: .8;
      font-size: 1.7rem; }
      .knowledge__list--item::before {
        content: '\2022';
        color: #fbec3d;
        display: inline-block;
        width: 1.5rem; }

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 5rem 8rem;
  min-width: 60rem;
  min-height: 25rem;
  transform: translate(-50%, -50%);
  background-color: #090707;
  z-index: 9000;
  transition: all .2s; }
  .popup--active {
    display: block;
    animation: fadeIn .4s forwards; }

.project {
  border: 0.3rem solid #efdc05;
  border-radius: 3px;
  box-shadow: 0 1rem 2.5rem rgba(9, 7, 7, 0.2);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  transition: all .5s; }
  .project:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1.5rem 2.5rem rgba(9, 7, 7, 0.3); }
  .project__image {
    width: 100%;
    grid-column: 1 / -1; }
  .project__icon {
    width: 2.5rem; }
  .project__title {
    font-size: 2rem;
    padding: 1.5rem 0;
    align-self: center;
    text-align: center;
    background-color: #090707;
    color: #ffffff;
    font-weight: 700;
    grid-column: 1 / -1; }
  .project__btn {
    text-align: center;
    transition: all .2s; }
    .project__btn:not(:last-child) {
      border-right: 0.3rem solid #efdc05; }
    .project__btn:link, .project__btn:visited {
      text-decoration: none;
      transition: all .2s;
      padding: 1rem 0;
      cursor: pointer; }
    .project__btn:hover {
      background-color: #efdc05; }
  .project__btn-text {
    display: block;
    font-size: 1.2rem;
    font-weight: 700; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content;
  grid-template-columns: [full-start] minmax(7rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.header {
  grid-column: full-start / full-end;
  text-align: center;
  background-image: linear-gradient(to top, rgba(9, 7, 7, 0.3) 20%, rgba(9, 7, 7, 0.6)), url(../img/svg/abstract-forest-illustration.svg);
  background-size: cover;
  background-position: top;
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center; }
  @media only screen and (max-width: 75em) {
    .header {
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 40%, rgba(9, 7, 7, 0.6)), url(../img/svg/abstract-forest-illustration.svg); } }
  .header__heading--main {
    color: #efdc05;
    font-size: 12rem;
    font-weight: 900;
    padding-bottom: 2.5rem; }
  .header__heading--sub {
    display: block;
    color: #090707;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 2rem; }

.navigation__logo-box {
  position: absolute;
  top: 5rem;
  left: 5rem; }

.navigation__btn, .navigation__btn:link, .navigation__btn:visited {
  font: inherit;
  position: fixed;
  top: 5.6rem;
  right: 13rem;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 10rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #090707;
  z-index: 100;
  transition: all .3s; }

.navigation__btn:hover {
  background-color: #efdc05;
  color: #090707; }

.navigation__btn:active, .navigation__btn:focus {
  outline: none; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 2000;
  text-align: center;
  height: 5rem;
  width: 5rem;
  background-color: #e53a40;
  border-radius: 50%;
  box-shadow: 0 1.5rem 3rem rgba(9, 7, 7, 0.1);
  cursor: pointer; }

.navigation__nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 1vw;
  height: 1vh;
  z-index: 1000;
  visibility: hidden;
  background-image: linear-gradient(to right bottom, #fbec3d, #bdae04); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:visited, .navigation__link:link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 2rem;
  color: #090707;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #090707 50%);
  background-size: 230%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ffffff; }

.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  animation: growHeightWidth30 0.9s cubic-bezier(0.645, 0.045, 0.355, 1) forwards; }
  @media only screen and (max-width: 43.75em) {
    .navigation__checkbox:checked ~ .navigation__nav {
      animation: growHeightWidth70 0.9s cubic-bezier(0.645, 0.045, 0.355, 1) forwards; } }

.navigation__icon {
  position: relative;
  margin-top: 2.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.5rem;
    height: 2px;
    background-color: #090707;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-45deg); }

.section-projects {
  grid-column: full-start / full-end;
  padding: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  justify-items: center; }

.section-knowledge {
  grid-column: center-start / full-end;
  background-color: #090707;
  padding: 12rem 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4rem; }
  @media only screen and (max-width: 43.75em) {
    .section-knowledge {
      grid-template-columns: 1fr;
      padding: 6rem 5rem;
      grid-row-gap: 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-knowledge {
      grid-column: full-start / full-end; } }

.section-about {
  grid-column: center-start / center-end;
  display: grid;
  padding: 12rem 5rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-row-gap: 5rem; }
  @media only screen and (max-width: 43.75em) {
    .section-about {
      grid-template-columns: 1fr;
      padding: 6rem 5rem;
      grid-row-gap: 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      grid-column: full-start / full-end; } }
  .section-about img {
    display: inline-block;
    box-shadow: 0 1rem 2.5rem rgba(9, 7, 7, 0.2);
    width: 20rem;
    height: 20rem;
    border-radius: 50%; }

.section-contact {
  grid-column: full-start / center-end;
  background-color: #090707;
  padding: 10rem 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  justify-items: center; }
  @media only screen and (max-width: 43.75em) {
    .section-contact {
      grid-template-columns: 1fr;
      padding: 6rem 5rem;
      grid-row-gap: 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-contact {
      grid-column: full-start / full-end; } }
