// COLORS

$color-primary: #efdc05;
$color-primary-light: #fbec3d;
$color-primary-dark: #bdae04;

$color-secondary: #e53a40;
$color-secondary-light: #ef8589;
$color-secondary-dark: #c21a1f;

$color-tertiary: #30a9de;
$color-tertiary-light: #79c7ea;
$color-tertiary-dark: #1c82ae;

$color-grey-dark-1: #777;
$color-grey-dark-2: #555;

$color-black: #090707;
$color-white: #ffffff;

// FONT

$default-font-size: 1.6rem;